---
http_interactions:
- request:
    method: get
    uri: https://congress.api.sunlightfoundation.com/committees?apikey=6463f1dc6f324e3f99d0ed9d4742709e&chamber=house
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"chamber":"house","committee_id":"HLZI","name":"House
        Select Committee on the Events Surrounding the 2012 Terrorist Attack in Benghazi","office":"1036
        LHOB","phone":"(202) 226-7100","subcommittee":false},{"chamber":"house","committee_id":"HSSM27","name":"Economic
        Growth, Tax and Capital Access","parent_committee_id":"HSSM","phone":"(202)
        225-5821","subcommittee":true},{"chamber":"house","committee_id":"HSSM26","name":"Health
        and Technology","parent_committee_id":"HSSM","phone":"(202) 225-5821","subcommittee":true},{"chamber":"house","committee_id":"HSSM25","name":"Agriculture,
        Energy and Trade","parent_committee_id":"HSSM","phone":"(202) 225-5821","subcommittee":true},{"chamber":"house","committee_id":"HLIG04","name":"Department
        of Defense Intelligence and Overhead Architectu[...]
